a {
  color: #704040 !important;
}
.btn-custom {
  color: #704040!important;
}
body{
  background-color: #FFFFB0; 
}
.carousel {
  border-radius: 6px !important;
  margin-bottom: 0 !important;
}
.carousel-control.left {
  background-image: none !important;
}
.carousel-control.right {
  background-image: none !important;
}
.carousel-inner {
  border-radius: 6px !important;
}
.carousel-inner > .item > img {
  position: relative !important;
  margin: 0 auto !important;
  max-width: none !important;
  float: center !important;
  min-height: 100% !important;
}
.carousel .item { 
  background-color: none !important;
  border-radius: 6px !important;
}
.centered-element {
  display: block;
  float: center;
  margin-right: auto !important;
  margin-left: auto !important;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FFF !important;
  border: 0px solid !important;
  border: 0px solid !important;
}
div.menu {
  background-image: url('images/new_logo.jpg') !important; 
  background-position: center center !important;
}
.divider {
  text-align: left !important;
}
.jumbotron {
  position: relative;
  background-color: #FFF !important;
}
.nav>li>a {
  border-radius: 4px;
}
.navbar {
   background-color: #FFFFB0;
   background: #FFFFB0;
   border: 0px solid transparent;
}
.navbar-default {
  background-color: #FFFFB0 !important;
}
.navbar-collapse {
  border-top: 0 !important;
}
.navbar-toggle {
  background-color: #FFFFB0 !important;
  color: #FFFFB0 !important;
  border: 0px !important;
}
.fa-inverse {
  color: #704040 !important;
}
.nopadding {
  padding: 0 !important;
}
.paypal_purchase {
  max-width: 200px;
}
.stay_center {
  margin-right: auto !important;
  margin-left: auto !important;
}
.twitter {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .container {
    max-width: 960px !important;
  }
}
@media (max-width: 768px){
  .carousel .item {
  height: 250px !important;
  margin-bottom: 40px;
  }
  .carousel {
    height: 250px !important;
  }
  .twitter {
    margin-top: 20px;
  }
}