.navbar {
   background-color: #000;
   background: #000;
   border-bottom: 0px solid transparent;
}

.navbar li { color: #000 } 

.navbar-toggle {
  background-color: #000000 !important;
  color: #000000 !important;
  border: 0px !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #a58520 !important;
  color: #FFF !important;
}

a {
  color: #a58520 !important;
}

.navbar-collapse {
  border-top: 0px solid transparent !important;
  background: #000;
  background-color: #000;
}

.btn-custom {
  color: #7c6a31!important;
}

.paypal_purchase {
  max-width: 100px;
}

.divider {
  text-align: left !important;
}

.carousel-inner > .item > img {
  position: relative !important;
  margin: 0 auto !important;
  max-width: none !important;
  float: center !important;
}

.carousel .item { 
  background-color: none !important;
}

.carousel {
  border-radius: 6px !important;
}

.carousel-control.left {
  background-image: none !important;
}

.carousel-control.right {
  background-image: none !important;
}

@media (min-width: 768px) {
  .container {
    max-width: 960px !important;
  }
}

[class*="col-"] {
padding-top: 15px;
padding-bottom: 15px;
background-color: #FFF !important;
border: 0px solid !important;
border: 0px solid !important;
}